@charset "UTF-8";
@font-face {
font-family: 'berthold-block-regular';
src:url(../fuentes/DINPro-Black.otf);
font-weight: bold;
font-style: normal;	
}
@font-face {
font-family: 'berthold-condensada-regular';
src:url(../fuentes/DINPro-Bold.otf);
font-weight: bold;
font-style: normal;		
}
@font-face {
font-family: 'asap-bold';
src:url(../fuentes/DINPro-Bold.otf);
}
@font-face {
font-family: 'asap-bold-italic';
src:url(../fuentes/DINPro-Light.otf);
}
@font-face {
font-family: 'asap-italic';
src:url(../fuentes/DINPro-Light.otf);
}
@font-face {
font-family: 'asap-regular';
src:url(../fuentes/DINPro-Medium.otf);
}
@font-face {
font-family: 'khand-bold';
src:url(../fuentes/DINPro-Bold.otf);
}
@font-face {
font-family: 'khand-regular';
src:url(../fuentes/DINPro-Regular.otf);
}
@font-face {
font-family: 'faustina-bold';
src:url(../fuentes/DINPro-Bold.otf);
font-weight: bold;	
}
@font-face {
font-family: 'faustina-bold-italica';
src:url(../fuentes/DINPro-Light.ttf);
}
@font-face {
font-family: 'faustina-regular-italica';
src:url(../fuentes/DINPro-Regular.otf);
}
@font-face {
font-family: 'faustina-regular';
src:url(../fuentes/DINPro-Regular.ttf);
}

